*{
    margin:0;
    padding:0;
}
#nav{
    padding: 5px;
    overflow: none;
    margin-top: 2px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EE624F;
}
#nav ul li{
    display: inline-block;
    list-style-type: none;
    margin:0;
    font-size: 18px;
    padding-right: 13px;
 }
 span{
    font-family:  "Brush Script MT","Courier New",monospace;
    font-size: 23px;
    font-weight: bold;
    margin-left: 8px;
 }
#nav .logo{
    display: flex;
        align-items: center;
        text-decoration: underline;
}

/* form css  */

.input_contain{ 
    width: 36%;
        height: 102%;
        padding: 3px 25px;
        margin: -9px 11px;
        background-image: url("./form_img3.jpg");
            background-size: cover;
            background-repeat: no-repeat;
}


 #form{
width: 98%;
height: 500px;
margin-top: 5px;
padding: 10px;
background-image: url("./form_img1.jpg");
background-size: contain;
background-repeat: no-repeat;
background-position: 99%;
font-size: 20px;
 }

#form input:hover{
    border:2px solid red;
    padding: 5px 2px;
}

#btn{
font-size: 14px;
width: 115px;
height: 30px;
margin-left: 10px;
font-weight: bold;
border: 1px solid black;
color: black;
}

.Answer_Container{
    width: 100%;
        height: 100px;
/* border: 1px solid black; */
display: none;
}

#result{
    text-align: center;
        margin: 20px 300px;
        font-size: 18px;
        font-family: sans-serif;
        border: none;
        width: 50%;
        height: 40%;
        padding: 10px 0px;
}
 #result:hover{
    box-shadow: 0px 2px 10px blanchedalmond;
    color: rgb(41, 15, 212);
    font-weight: bold;
} 
 
#MealTime{
    display: flex;   
     gap: 3rem;
    justify-content: space-around;
    color: rgb(14, 36, 238);
}


.meal-button {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.meal-heading {
    margin: 0 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card-box {
    margin: 0 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card-box h3 {
    text-align: center;
    color: black;
    font-size: 18px;
}

.card-box span img {
    width: 380px;
    height: 270px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-box span {
    border-radius: 12px;
    text-align: center;
    border: 2px solid rgb(255, 255, 255);
    margin: 5px;
    height: 380px;
    width: 383px;
}

.flex-container {
    text-align: center;
    background-color: rgb(255, 89, 0);
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
}

.equipment h2,
.ingrediants h2 {
    margin: 0;
}

.dish {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 30px;
}

.ingrediants,
.equipment {
    margin: 30px;
    width: 400px;
    padding: 20px;
}

.steps {
    padding: 20px;
    margin: 0 30px;
}

.recipe {
    padding: 5px;
    background-color: white;
    color: black;
    font-size: 20px;
}

.recipe h2 {
    margin: 0 20px 20px 20px;
    color: black;
}

.card-box span,
.meal-heading h2 {
    text-align: center;
    height: auto;
    color: black;
}
.recipe {
    width: 100%;
}

.bg,
.input-box {
    display: none;
    background-color: bisque;
    border-radius: 10px;
}

li {
    color: #000000;
}

.recipe {
    display: none;
    background-size: contain;
    background-repeat: no-repeat;
}
.get-btn{
font-size: 14px;
    width: 95px;
    height: 25px;
    font-weight: bold;
    border: 1px solid red;
    color: rgb(218, 122, 32);
    margin-top: 10px;
}

.get-btn:hover {
    font-size: 16px;
    width: 115px;
        height: 30px;
        font-weight: bold;
        border: 2px solid navajowhite;
        color: black;
        box-shadow: 2px 3px 7px grey;
}
